.header {
    padding-top: 30px;
}

.navig-options a, .header a {
    text-decoration: none;
    color: #5C8374;
    position: relative;
}

.navig {
    padding-bottom: 35px;
    margin-left: 10px;
}

.navig-options {
    padding-top: 35px;
}

.navig-options a:after {
    content: "";
    display: block;
    width: 30pt;
    height: 5px;
    background-color: #1B4242;
    position: absolute;
    bottom: -5px;
    border-radius: 5px;
    left: 0;
    right: 0;
}
.navig-options a.option-1:after {
    width: 30pt;
    transform: translateX(60%);
}
.navig-options a.option-2:after {
    width: 30pt;
    transform: translateX(100%);
}
.navig-options a.option-3:after {
    width: 30pt;
    transform: translateX(60%);
}

.navig-options a.active-option:after {
    width: 75pt;
    transform: translateX(-5%);
}

body {
    background-color: #9EC8B9;
}



.main-section {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 180.5px;
    padding-top: 100px;
    background: url(../img/fon_page-0001.jpg), #1B4242;
    text-align: center;
    border-radius: 70px;
    background-size: contain;
}

.main-section-header {
    color: #9EC8B9;
}

.main-section-text {
    padding-bottom: 30px;
    color: #9EC8B9;
}