{% extends "base.html" %}
{% block content %}
    <div class="container main-section">
        <div class="row">
            <div class="col-12">
                <h1 class="main-section-header">Добавь стиль и уют</h1>
                <h6 class="main-section-text">Преврати свой дом в оазис роскоши с элегантным натяжным потолком</h6>
                <!-- <a href="/login" class="btn btn-lg btn-outline-info btn-main">Заказать</a>         -->
            </div>
        </div>
    </div>

    <div class="about-section container text-center what-we-believe-text">
        <h5>Во что мы верим</h5>
        <h2>Ничто так не красит квартиру <br/> как надежный потолок</h2>
    </div>

    <div class="about-section row">
        <div class="col-6" style="margin-top: 30px;height: 300px;">
            <h2 style="color:#1b4242">Кто мы</h2>
            <p style="font-size: x-large;color:#5c8374">Все наши сотрудники работают уже более 10 лет, самые лучшие материалы и качество у нас</p>
        </div>
        <div class="col-6"><img id="who-we-are-img" src="https://plus.unsplash.com/premium_photo-1677178660876-8578f4f6cbac?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></div>
    </div>

{% endblock %}