{% extends "base.html" %}
{% block content %}
    <div class="container main-section">
        <div class="row">
            <div class="col-12">
                <h1 class="main-section-header">Добавь стиль и уют</h1>
                <h6 class="main-section-text">Преврати свой дом в оазис роскоши с элегантным натяжным потолком</h6>
                <!-- <a href="/login" class="btn btn-lg btn-outline-info btn-main">Заказать</a>         -->
            </div>
        </div>
    </div>
{% endblock %}