{% extends "base.html" %}
{% block content %}
{% if not changed %}
<div class="change-review-form container text-center" style="width:70%;height: 100%;">
    <form method="post" style="width: 100%; height: 100%;" enctype="multipart/form-data" id="form-to-change">
        <div class="h3" style="margin-top: 0;margin-bottom: 10px;">Оставьте ваш отзыв</div>
        <div class="rating">
            {% if value == 1 %}
              <input type="radio" id="star1" name="rating" value="1" checked>
            {% else %}
              <input type="radio" id="star1" name="rating" value="1">
            {% endif %}
            <label for="star1"></label>
            {% if value == 2 %}
            <input type="radio" id="star2" name="rating" value="2" checked>
            {% else %}
            <input type="radio" id="star2" name="rating" value="2">
            {% endif %}
            <label for="star2"></label>
            {% if value == 3 %}
            <input type="radio" id="star3" name="rating" value="3" checked>
            {% else %}
            <input type="radio" id="star3" name="rating" value="3">
            {% endif %}
            <label for="star3"></label>
            {% if value == 4 %}
            <input type="radio" id="star4" name="rating" value="4" checked>
            {% else %}
            <input type="radio" id="star4" name="rating" value="4">
            {% endif %}
            <label for="star4"></label>
            {% if value == 5 %}
            <input type="radio" id="star5" name="rating" value="5" checked>
            {% else %}
            <input type="radio" id="star5" name="rating" value="5">
            {% endif %}
            <label for="star5"></label>
        </div>
        <div class="h3">Ваши впечатления</div>
        <input name="text" type="text" style="width: 80%; height: 200px;background-color: #5C8374;margin-bottom: 50px;border: 0;border-radius: 13px;" value="{{text}}">
        <div class="load_file" style="margin-bottom: 20px;">
            <input type="file" style="background-color: #77B399;" name="review_load_image" id="change_review_load_image"  accept="image/*" formenctype="multipart/form-data" multiple>
            <button>выбрать изображения</button>
        </div>
      </form>

        <button type="button" id="change-images" name="change-images" data-bs-toggle="modal" data-bs-target="#changeImageModal">Изменить изображения</button>
        
        
        <div class="modal fade" id="changeImageModal" tabindex="-1" aria-labelledby="changeImageModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content" style="background-color: rgba(79, 100, 92, 0.1); border:none">
                <div class="modal-header">
                  <div class="delete-in-change">
                    <button type="button" id="delete-in-change-button" class="delete-in-change-button" onclick="deleteImage()"></button>
                    <label for="delete-in-change-button"></label>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselImageChange" class="carousel slide">
                        <div class="carousel-inner" id="carouselImages">
                          {% for img in imgs %}
                          {% if loop.index == 1%}
                          <div class="carousel-item active">
                            <img src="//127.0.0.1:8080/{{img}}">
                          </div>
                          {% else %}
                          <div class="carousel-item">
                            <img src="//127.0.0.1:8080/{{img}}">
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageChange" data-bs-slide="prev" >
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselImageChange" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
              </div>
            </div>
          </div>
        
        
        
        <div class="exit-buttons row" style="padding-bottom: 15px;">
          <div class="col-6 text-end">          
            <button onclick="postData()" style="background-color: rgb(8, 130, 22);border-radius: 8px;border:0px;color:rgb(181, 181, 181);margin-top: 30px;margin-right:10px;height: 30px;">Сохранить</button>
          </div>
          <div class="col-6 text-start">
            <button type="button" onclick="redirect('/reviews')" style="background-color: rgb(8, 130, 22);border-radius: 8px;border:0px;color:rgb(181, 181, 181);margin-top: 30px;margin-left:10px;height: 30px;">Отменить</button>
          </div>
        </div>
    
</div>
{% else %}
<div style="height: 500px;" class="container text-center">
    <h1>Спасибо за отзыв!</h1>
</div>
{% endif %}

{% endblock %}