{% extends "reg-base.html" %}

{% block content %}
<h1>Авторизация</h1>
<form class="form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-3">{{ form.email.label }}</div>
        <div class="col-9">{{ form.email(class="form-control") }}</div>
        
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-3">{{ form.password.label }}</div>
        <div class="col-9">{{ form.password(class="form-control", type="password") }}</div>
        
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>
    <p class="remember_me">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn") }}</p>
    {% if message %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}
</form>
<div class="reg">
    <span>Нет аккаунта?</span>
    <a href="./registration">Зарегистрироваться</a>
</div>
{% endblock %}