<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/reviews.css">
</head>

<body>
    <div class="container navig">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-3 h2 header"><a href="">Потолки</a></div>
            <div class="col-sm-6 col-lg-3 h3 navig-options text-center"><a class="option-1" href="/about">о нас</a></div>
            <div class="col-sm-6 col-lg-3 h3 navig-options text-center"><a class="active-option option-2" href="/reviews">отзывы</a></div>
            <div class="col-sm-6 col-lg-2 h3 navig-options text-center"><a class="option-3" href="/order">заказ</a></div>
        </div>
    </div>


    {% for review in reviews %}
        <div class="review">
            <div class="text" style="width: 50%;">
                {{ review["text"] }}
            </div>
            
            {% set id_block = loop.index %}
            {% if review["images"]|length > 0 %}
            <div class="images">
                <img src={{review["images"][1]}} alt="" onclick="showImage(this.id)" id="{{loop.index}}_{{1}}">
            {% endif %}
            {% if review["images"]|length > 1 %}
                <div class="small-images">
                    {% for img in review["images"] %}
                        {% if loop.index > 1 %}
                            <img src={{img}} alt="бебе" id="{{ id_block }}_{{loop.index}}" onclick="showImage(this.id)">
                        {% endif %} 
                    {% endfor %}
                </div>  
            {% endif %}
            </div>
        </div>
    {% endfor %}

    

      <div class="modal" tabindex="-1" id="modalWithImages">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" style="background-color: rgba(79, 100, 92, 0.1); border:none">
            <div class="modal-header">
              <button type="button" class="btn-close" onclick="closeImage()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner" id="carouselImages">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" >
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="static/script/script.js"></script>
</body>
</html>