.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background: #9ec8b9;

}

body > a {
    position: absolute;
    color: #366957;
    margin-top: 10px
}

body > h1 {
    margin-bottom: 10px
}

.reg > a {
    color: #366957
}

input:not([type='submit']) {
    background: #dff0ea !important
}

* {
    color: #366957
}

.row > div > div > *{
    display: block;
}

.sex-group {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.reg_form > .btn {
    margin-top: 10px;
    background-color: #5C8374;
    color: black;
    align-self: center;
}

.reg-form > p {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    align-items: center;
    margin-right: 150px
}

.reg-form > p > input[type='submit'] {
    margin-left: 210px
}

.reg-form > p > label {
    font-size: large
}

.reg-form > p > input {
    width: 300px
}

.reg-form > p > select{
    width: 300px;
    background: #dff0ea !important
}

.reg-form > .btn {
    text-color: #366957
}

.reg_form > * {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    align-items: center;
    justify-items: center;
}

.reg_form > div > label {
    margin-right: 10px;
}

.btn {
    color: var(--bs-white);
    background-color: #5C8374;
    max-width: 200px;
    margin: 0 auto;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.remember_me {
    justify-content: center
}



.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px
}

.form > p > input[type='text'] {
    width: 300px
}

.reg-form > p > input {
    width: 300px
}

.reg {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.verify-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

