.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-bottom:5vh;
}



.main-container {
    margin-bottom: 150px;
    text-align: center;
}

body {
  background: #9ec8b9;
}

body > a {
  color: #366957;
  margin-top: 10px;
}

body > .main-container > h1 {
  margin-bottom: 40px;
  margin-top: 20px;
}

.reg > a {
  color: #366957;
}

input:not([type="submit"]) {
  background: #dff0ea !important;
}

* {
  color: #366957;
} 

.reg-form .row .col-3 {
  margin-top: 5px;
}


.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.btn {
  margin-top: 20px;
  background-color: #5c8374;
  align-self: center;
  margin-bottom: 20px;
  font-size: small;
}

.reg-form > .row > .col-6 > input{
  width: 50%;
}

.reg-form > .row > .col-3 {
  margin-left: 20%;
}

.btn {
  color: var(--bs-white);
  background-color: #5c8374;
  max-width: 200px;
  margin: 0 auto;
}

.remember_me {
  justify-content: center;
}

.form > .row > .col-9 > input {
  width: 40%;
}

.form > .row {
  margin-left: 25%;
}

.form > .row > .col-3 {
  margin-top: 5px;
}

.ver-form p > input {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}