/* BASE */

.header {
  padding-top: 30px;
}

.navig-options a,
.header a {
  text-decoration: none;
  color: #5c8374;
  position: relative;
}

.navig {
  padding-bottom: 35px;
}

.navig-options {
  padding-top: 35px;
}

.navig-options a:after {
  transition: ease-in-out 0.2s;
  content: "";
  display: block;
  width: 40pt;
  height: 5px;
  background-color: #1b4242;
  position: absolute;
  bottom: -5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  transform: translateX(30%);
}
.navig-options a#option-1:after {
  width:45%;
  transform: translateX(65%);
}
.navig-options a#option-2:after {
  width: 30%;
  transform: translateX(110%);
}
.navig-options a#option-3:after {
  width: 40%;
  transform: translateX(70%);
}

.navig-options a#option-3.active-option:after {
  width: 115%;
  transform: translateX(-5%);
}

.navig-options a#option-2.active-option:after {
  width: 102%;
  transform: translateX(-1%);
}

.navig-options a#option-1.active-option:after {
  width: 110%;
  transform: translateX(-5%);
}

#user-button {
  display: none;
}

#user-button-label {
  background: url(../img/user.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
}

#user-login-dropdown {
  position: fixed;
  right: 1px;
  top: 1px;
}

.navig .dropdown ul {
  margin-left: calc(100vw - 220px) !important;
  top: 8vh !important;
  width:100%;
  /* height: 110%; */
  padding-top: 0 !important;
  --bs-dropdown-link-hover-bg: none !important
}

body {
  background-color: #9ec8b9;
}

main {
  min-height: 30vh;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.base-footer {
  background-color:#77B399;
  color: white;
  margin: 0;
  width: 98.5vw;
  max-width: none;
  position: absolute;
  margin-top: 60vh;
}


/* ABOUT */


.main-section {
  width: 100%;
  height: 75%;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 20%;
  padding-top: 10%;
  background: url(../img/fon_page-0001.jpg), #1b4242;
  text-align: center;
  border-radius: calc(3% + 29px);
  background-size: cover;
  margin-bottom: 75px;
  margin-top: 5%;
}

.main-section-header {
  color: #9ec8b9;
}

.main-section-text {
  padding-bottom: 30px;
  color: #9ec8b9;
}

.what-we-believe {
  color: #5c8374;
}

.about-section {
  margin-top: 150px;
  /* margin-bottom: 30px; */
  height: 250px;
}

#who-we-are-img {
  width: 90%;
  height: 40%;
  border-radius: 30px;
}


/* REVIEWS */



.review {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: #77B399;


  height: 150px;
  display: flex;
  overflow: hidden;
  width: 65vw;

  & > * {
    height: 100%;
  }

}

.review .text {
  overflow-wrap: break-word;
  margin-left: 20px;
  max-width: 80%;
  font-size: 1rem;
  color: #5c8374;
  height: 100%;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.review img {
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  border: 1px solid white;
}

.review .images {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
  /* width: 90%px; */
  gap: 4px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .small-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 4px;

    img {
      height: 100%;
    }
  }
  .small-images:not(:has(img)) {
    width: 0%;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-header {
  border: none;
}

#plus {
  background: #1b4242;
  height: 90px;
  width: 14.5px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
}

#plus::after {
  content: "";
  height: 15px;
  width: 90px;
  background: #1b4242;
  position: absolute;
  left: -38px;
  top: 38px;
  border-radius: 8px;
}

#plus-button {
  display: none;
}


.review-page .review-header .rating {
  display: flex;
}
.review-page .review-header .rating .stars label {
  margin-top: 5px;
  margin-left: 5px;
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.review-page .review-header .rating .stars {
  position: absolute;
  left: 70vw;
  display: flex;
}

.review-header .rating .stars .filled_images {
  background: url('../img/filled_star.png');
  background-size: cover;
}

.review-header .rating .stars .hollow_images {
  background: url('../img/star.png');
  background-size: cover;
}

#delete-review {
  display: none;
}

#delete-review-label {
  background: url('../img/delete.png');
  background-size: cover;
  width: 23px;
  height:23px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.change-review-buttons {
  position: absolute;
  right: 18vw;
}

#change-review-label{
  background: url('../img/pen.png');
  background-size: cover;
  width: 23px;
  height:23px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}




/* ORDER */





.order-container {
  width: 75%;
  border: 2px solid black;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
}

.order-container > .small-section > .row > * > input {
  width: 25%;
  border-radius: 9px;
  border: 1.4px;
  text-align: center;
  margin-left: 20%;
  margin-top: 15%;
  background-color:#77B399;
  color: #1b4242;
}
.order-container > .small-section > .row > .h3 {
  padding-left: 15%;
}

.order-container > .small-section {
  margin-top: 20px;
}

#order-width-input {
  margin-top: 9px;
}

#order-length-input {
  margin-top: 5px;
}

#order-lamp-input {
  margin-top: 28px;
}

#order-select-material {
  border-radius: 10px;
  /* width: 287px; */
  width: 60%;
  height: 80%;
  text-align: center;
  margin-top: 15px;
  margin-right: 29px;
  background-color: #77B399;
  border: none;
  display: inline;
  

  option {
    border-radius: 8px;
  }
}


.order-color-radio {
  display: none;
}

.order-rating .stars-row{
    /* margin-right: auto; */
    width: 100%;
}

.order-color-label {
  width: calc(25px + 15%);
  height: calc(25px + 15%);
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  /* gap: 100px; */
}

.order-color-label.selected {
  border-color: black;
}

.order-container > .small-section > .row > .h2 {
  margin-bottom: 20px;
}

#order-price {
  margin-bottom: 50px;
}


/* MAKE REVIEW */


.make-review-form .rating {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.make-review-form .rating input {
  display: none;
}

.make-review-form .rating label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('../img/star.png');
  background-size: cover;
  float: right;
  background-color:transparent;
}

.make-review-form .rating label:hover,
.make-review-form .rating label:hover ~ label {
  background-image: url('../img/filled_star.png'); 
  background-color: transparent;
}

.make-review-form .rating input:checked ~ label {
  background-color: transparent;
  background-image: url('../img/filled_star.png'); 
}


.make-review-form {
  color: #5c8374;
  border-radius: 8px;
  background-color:#99C6B3;
}

/* CHANGE REVIEW */

.change-review-form .rating {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.change-review-form .rating input {
  display: none;
}

.change-review-form .rating label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('../img/star.png');
  background-size: cover;
  float: right;
  background-color:transparent;
}

.change-review-form .rating label:hover,
.change-review-form .rating label:hover ~ label {
  background-image: url('../img/filled_star.png'); 
  background-color: transparent;
}

.change-review-form .rating input:checked ~ label {
  background-color: transparent;
  background-image: url('../img/filled_star.png'); 
}


.change-review-form {
  color: #5c8374;
  border-radius: 8px;
  background-color:#99C6B3;
}

.load_file {
  position: relative;
  overflow: hidden;
}

.load_file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 100px;
  cursor: pointer;
  opacity: 0;
}

.load_file button {
  background-color: #4CAF50;
  color: rgb(208, 208, 208);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#change-images {
  width: 50%;
  height: 35px;
  margin-bottom: 20px;
  background-color: green;
  border-radius: 10px;
  border:none;
  font-size: 0.8rem;
  color: white;
}

.modal-header .delete-in-change  label {
  width: 23px;
  height: 23px;
  background: url('../img/delete.png');
  background-size: cover;
  cursor: pointer;
}
.modal-header .delete-in-change button {
  display: none;
}

.carousel-inner .carousel-item img{
  width: 55vw;
  height: 70vh;
}