.header {
  padding-top: 30px;
}

.navig-options a,
.header a {
  text-decoration: none;
  color: #5c8374;
  position: relative;
}

.navig {
  padding-bottom: 35px;
  margin-left: 10px;
}

.navig-options {
  padding-top: 35px;
}

.navig-options a:after {
  transition: ease-in-out 0.2s;
  content: "";
  display: block;
  width: 40pt;
  height: 5px;
  background-color: #1b4242;
  position: absolute;
  bottom: -5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  transform: translateX(30%);
}
.navig-options a#option-1:after {
  width: 30pt;
  transform: translateX(60%);
}
.navig-options a#option-2:after {
  width: 30pt;
  transform: translateX(100%);
}
.navig-options a#option-3:after {
  width: 30pt;
  transform: translateX(60%);
}

.navig-options a#option-3.active-option:after {
  width: 75pt;
  transform: translateX(-5%);
}

.navig-options a#option-2.active-option:after {
  width: 75pt;
  transform: translateX(8%);
}

.navig-options a#option-1.active-option:after {
  width: 75pt;
  transform: translateX(-5%);
}

body {
  background-color: #9ec8b9;
}

.main-section {
  width: 100%;
  height: 100%;
  padding-left: 28pt;
  padding-right: 28pt;
  padding-bottom: 135.5pt;
  padding-top: 75pt;
  background: url(../img/fon_page-0001.jpg), #1b4242;
  text-align: center;
  border-radius: 60pt;
  background-size: cover;
}

.main-section-header {
  color: #9ec8b9;
}

.main-section-text {
  padding-bottom: 30px;
  color: #9ec8b9;
}

.review {
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #D9D9D9;

  /* width: 90%; */
  height: 150px;
  display: flex;
  overflow: hidden;

  & > * {
    height: 100%;
  }
  /* max-width: 500px; */
}

.review .text {
  overflow-wrap: break-word;
  margin-left: 20px;
  max-width: 80%;
  font-family: monospace;
  font-size: 1rem;
  color: white;
  height: 100%;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.review img {
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  border: 1px solid white;
}

.review .images {
  margin-left: 25px;
  display: flex;
  flex-shrink: 0;
  width: 90%px;
  gap: 4px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .small-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 4px;

    img {
      height: 100%;
    }
  }
  .small-images:not(:has(img)) {
    width: 0%;
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-header {
  border: none;
}

.order-container {
  width: 60%;
  border: 3px solid black;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
}

.order-container > .small-section > .row > .col-6 > input {
  width: 40px;
  border-radius: 9px;
  border: 1.4px;
  margin-left: 20px;
}

.order-container > .small-section {
  margin-top: 20px;
}

.order-container > .small-section > .row > .col-6 > input {
  margin-top: 15px;
}

#order-select-material {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  text-align: center;
  margin-top: 15px;
}

.order-color-radio {
    display: none;
}

.order-color-label {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.order-color-label.selected {
    border-color: black;
}